.project {
    position: absolute;
    height: 100vh;
    width: 100vw;

    @media screen and (max-width: 810px) {
        height: 200px;
        width: 200px;
        bottom: -110px;
    }

    @media screen and (max-width: 810px) {
        left: -500px;
    }
}

.project-main {
    margin: 15% 1rem 0;
    display: grid;
    grid-template-columns: 33% 67%;
    position: relative;
    text-align: right;

    @media screen and (max-width: 810px) {
        grid-template-columns: 25% 75%;
    }
    @media screen and (max-width: 700px) {
        grid-template-columns: 1fr;
        grid-template-rows: 1fr;
    }
    @media screen and (max-width: 600px) {
        margin: 3rem 1rem 0;
    }
}

.project-content {
    margin-right: 20px;

    @media screen and (max-width: 700px) {
        display: flex;
        justify-content: space-between;
        align-items: center;
        padding: 0 .5rem;
    }

    h2 {
        font-family: $font-3;
        font-size: 4vw;
        line-height: 3.2rem;
        margin-bottom: 10px;
        //font-style: oblique;
        color: $sand-color;
        transform: scaleX(0);
        animation: transformTitle 1.5s ease forwards;
        transform-origin: 150%;

        @media screen and (max-width: 810px){
            font-size: 2rem;
        }
        @media screen and (max-width: 450px){
            font-size: 1.2rem;
        }

        @keyframes transformTitle {
            to {
                transform: scaleX(1);
            }
        }
    }

    p {
        margin-bottom: 30px;
        font-family: $font-3;
        font-size: 1.2rem;
        font-weight: 100;
        color: $orange-color;

        @media screen and (max-width: 810px){
            font-size: 2rem;
          }
        @media screen and (max-width: 450px){
        font-size: 1.2rem;
        }
    }
    
    li {
        font-size: 1.5rem;
        color: inherit !important;
    
        @media screen and (max-width: 700px){
            font-size: 1.1rem;
        }
        @media screen and (max-width: 400px){
            font-size: .8rem;
        }
    }
}

.img-container {
    border-radius: 2px;
    box-shadow: 0px 2px 4px rgba(51, 51, 51, 0.26);
    width: 80%;
    //height: 380px;
    overflow: hidden;
    position: relative;

    @media screen and (max-width: 940px){
        height: 300px;
        width: 500px;
    }
    @media screen and (max-width: 540px){
        height: 200px;
        width: 370px;
    }
    @media screen and (max-width: 400px){
        eight: 150px;
        width: 280px
    }

    &:hover span,
    span:hover {
        visibility: visible;
        transform: translateY(0);
    }

    img {
        overflow: hidden;
        object-fit: cover;
        object-position: 0%;
        width: 100%;
        height: 100%;
        position: absolute;
        transition: .4s ease-out;
        position: relative;

        &:hover,
        span:hover img {
            transform: scale(1.2);
            filter: opacity(15%) contrast(150%);
        }
    }

    span {
        position: absolute;
        bottom: 20px;
        left: 0;
        width: 100%;
        padding: 1rem;
        margin: 0 auto;
        line-height: 34px;
        font-size: 1.5rem;
        visibility: hidden;
        transition: translateY(200px);

        h3 {
            padding-bottom: 10px;
            color: $orange-color;
        }

        p {
            margin-bottom: 30px;
            font-family: $font-4;
            font-size: 1.2rem;
            //font-weight: 100;
            color: $sand-color;
        }
    }
}
