.cursor {
    width: 60px;
    height: 60px;
    border-radius: 50%;
    border: 1px solid $orange-color;
    position: absolute;
    transform: translate(-50%, -50%);
    pointer-events: none;
    transition: all .2s ease;
    transition-property: background, transform;
    transition: top 160ms ease-out;
    transition: left 160ms ease-out;
    z-index: 20;
    backdrop-filter: brightness(115%);

    &.hovered {
        width: 30px;
        height: 30px;
    }
}

@media only screen and (max-width: 768px) {
    .cursor {
        display:none;
    }
}