.nav {
    position: relative;
    width: 100vw;
    height: 100vh;
}

.container-corner {
    position: absolute;
    right: 40px;
    left: 40px;
}

.btn-circle {
    background: $color-2;
    display: block;
    width: 80px;
    height: 80px;
    border-radius: 50%;
    position: relative;
    z-index: 15;
    outline: none;
    cursor: pointer;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    border: 2px solid $color-1;

    &.menu-anim .line:nth-child(1) {
        top: 3px;
        transform: rotate(45deg);
        transition:
        top .2s ease .2s,
        transform .2s ease .2s;
    }

    &.menu-anim .line:nth-child(2) {
        opacity: 0;
        transition: opacity .2s ease;
    }

    &.menu-anim .line:nth-child(3) {
        top: -3px;
        transform: rotate(-45deg);
        transition:
        top .2s ease .2s,
        transform .2s ease .2s;
    }
}

.line {
    width: 80%;
    height: 3px;
    background: $color-1;
    transition: 
    transform .2s ease,
    opacity .2s ease,
    top .2s ease .2s;
    position: relative;
    
    &:nth-child(1) {
        top: 10px;
    }
    
    &:nth-child(3) {
        top: -10px;
    }
}

