.social-network {
  position: absolute;
  top: 65%;
  left: 30px;
  width: 5%;
  z-index: 2;

  @media only screen and (max-width: 480px) {
    left: 20px;
  }

  @media only screen and (max-width: 768px) {
    top: 70.5%;
    left: 15px;
  }

  li {
    margin: 25px 0;
    transition: 1s ease-in-out;
  }
}
