@font-face {
  font-family: "font-1";
  src: url(../fonts/Syne-SemiBold.ttf);
}
@font-face {
  font-family: "font-2";
  src: url(../fonts/Canvas-Light.otf);
}

@font-face {
  font-family: "font-3";
  src: url(../fonts/Syne-Bold.ttf);
}

@font-face {
  font-family: "font-4";
  src: url(../fonts/Avenir.ttc);
}

@font-face {
  font-family: "font-5";
  src: url(../fonts/Syne-Regular.ttf);
}

$font-1: "font-1", sans-serif;
$font-2: "font-2", serif;
$font-3: "font-3", sans-serif;
$font-4: "font-4", sans-serif;
$font-5: "font-5", sans-serif;

$darkblue-color: #001b2e;
$sand-color: #d6dbb2;
$orange-color: #e57a44;

/* Isometric Cards */

$c-background: #FFF;
$i-background: #00c7ff;
$h3-color: #fff;
$c-color: #777;
$shadow: linear-gradient(transparent,transparent,rgba(240, 114, 83, 0.644));


/* Main */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-size: 100%;
  -webkit-text-size-adjust: none;
  list-style-type: none;
  outline: none;
  border: none;
  text-decoration: none;
}

html {
  //scroll-behavior: unset;
  scroll-behavior: smooth;
}

body {
  font-family: $font-1;
  height: 100vh;
  background-color: $darkblue-color;
  color: $sand-color;
  font-weight: 100;
  overflow: hidden;
  cursor: nw-resize;
  
  @media screen and (max-width: 430px) {
    position: relative;
    max-width: 100vw;
    overflow-y: initial;
  }
}

main {
  position: relative;
  width: 100%;
  height: 100vh;
}

li {
  color: $sand-color;
  font-size: 1.4em;
  
  &:hover {
    color: $darkblue-color;
  }
}

a {
  color: $sand-color;

  &:hover {
    color: $orange-color;
  }
}

i {
  color: $sand-color;
  font-size: 1.4em;
  cursor: pointer;
  font-size: 1em;
  
  &:hover {
    color: $orange-color;
  }
}

