@font-face {
  font-family: "font-1";
  src: url(../fonts/Adieu-Light.ttf);
}
@font-face {
  font-family: "font-2";
  src: url(../fonts/MADE-Cannes.otf);
}

$font-1: "font-1", sans-serif;
$font-2: "font-2", serif;

$color-1: #001b2e;
$color-2: #d6dbb2;

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  list-style-type: none;
  outline: none;
  border: none;
  text-decoration: none;
}

html {
  scroll-behavior: unset;
}

body {
  font-family: $font-1;
  height: 100vh;
  background-color: $color-1;
  color: black;
  overflow: hidden;
  position: relative;

  @media screen and (max-width: 430px) {
    position: relative;
    max-width: 100vw;
    overflow-y: initial;
  }
}

