.contact {
    position: absolute;
    width: 100vw;
    height: 100vh;

    .presentation {
        //background: coral;
        width: 49%;
        font-family: $font-1;
        font-size: 2vw;
        line-height: 3vw;
        margin: 150px 100px;
    }

    .hide {
        background: $darkblue-color;
        overflow: hidden;
    }
    
    .hide span {
        display: inline-block;
        transform: translateY(100%);
    }
} 