.main-content {
    //background-color: red;
    display: flex;
    position: relative;
    top: 27%;
    justify-content: center;
}

.title {
    //display: flex;
    //background-color: blue;
    //text-align: center;
    transform: translateX(-1%);
    user-select: none;
    width: 95%;
}

.title p {
    font-size: 3.09vw;
    margin-top: -3.5%;
    text-align: right;
    user-select: none;
    width: 98.75%;
}